body {
    background-color: #0A192F;
    color: #FFFFFF;
    font-family: "Helvetica Neue", serif;
    line-height: 1.8;
    margin: 0;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3 {
    color: #FFFFFF;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 5px;
}

.header {
    background-color: #021024;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.header a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.header a:hover {
    background-color: #022D5A;
    border-radius: 5px;
}

a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
