body {
    background-color: #f5f5f5;
    color: #454545;
    font-family: "Helvetica Neue", serif;
    font-size: 20px;
    line-height: 1.8;
    margin: 0;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3 {
    color: #454545;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 5px;
    border-bottom: none !important; 
    margin-bottom: 0 !important;
    text-transform: none !important;
}

h1 { font-size: 48px; }  
h2 { font-size: 36px; }  
h3 { font-size: 30px; }


.header {
    background-color: #cfcfcf;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.header a {
    color: #454545;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.header a:hover {
    background-color: #8a8a8a;
    border-radius: 5px;
}

a {
    color: #454545;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 
    background-color: 
    text-align: center; 
}

th {
    background-color: #343a40; 
    color: white; 
    padding: 10px;
}

th, td {
    border: 1px solid 
    padding: 10px; 
}
